<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dogweb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    @* <link rel="stylesheet" href="~/css/petweb.css" asp-append-version="true" /> *@
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="~/js/app.js"></script>

</head>
<body>
    <div class="wrap">
        <div class="background"></div>
    <header>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><div class="logo">
            <div class="logo-icon">D</div>
            <div class="logo-text">Walk with Dogs</div>
        </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between nav123 ">
                    <ul class="navbar-nav  ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Googlemap">公園地圖</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">產品</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="shopping">購物車</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="member">加入會員</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container ">
        <main role="main" class="pb-3 containerbody  ">
            @RenderBody()
        </main>
    </div>
</div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - dogwebMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
