@{
    ViewData["Title"] = "公園地圖";
}
<link rel="stylesheet" href="~/css/googlemap.css" />
<h1>@ViewData["Title"]</h1>

<p>北部</p>

<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57891.37326776221!2d121.18030441475806!3d24.924886740877223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468239268a89f75%3A0xc3bfdadb3c4117b6!2z5qGD5ZyS5a-154mp5YWs5ZyS!5e0!3m2!1szh-TW!2stw!4v1750666114736!5m2!1szh-TW!2stw"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
    
   
<title>互動寵物公園地圖</title>







 
        
       

<!-- Google Maps 載入 -->
<script ></script>
<script>
    
</script>
