@{
    ViewData["Title"] = "Home Page";
}  
     
  


<div class="wrapindex my-4 " v-html="">
    <div class="indexbodyimg"> 
        <div class="header-content">
            <h1 >歡迎來到狗狗網站</h1>
            <p>探索我們的產品和服務，讓您的狗狗生活更美好！</p>
<div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
  <div class="carousel-inner rounded-3 drop-shadow-xl">
    <div class="carousel-item active">
      <img src="images/pexels-barnabas-davoti-31615494-14084426.jpg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/pexels-izafi-32721873.jpg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/pexels-pixabay-247937.jpg" class="d-block w-50" alt="...">
    </div>
     <div class="carousel-item">
         <div class="carousel-item">
      <img src="images/pexels-valeriya-13074579.jpg" class="d-block w-50" alt="...">
    </div>
     </div>
      <img src="images/pexels-zen-chung-5749781.jpg" class="d-block w-50" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
<div class="container  px-4 mt-5">
  <video 
    class="abc" 
    controls src="/images/3191251-uhd_4096_2160_25fps.mp4">
    您的瀏覽器不支援影片播放。
  </video>
</div>




</div>







        </div>
    </div>
</div>

</div>

  
   
    
       
