@{
    ViewData["Title"] = "Home Page";
}  
     
  


<div class="wrapindex my-4 " v-html="">
    <div class="indexbodyimg"> 
        <div class="header-content">
            <h1 >歡迎來到狗狗網站</h1>
            <p>探索我們的產品和服務，讓您的狗狗生活更美好！</p>
<div id="carouselExampleControls" class="carousel slide carousel-fade mx-auto "  data-bs-ride="carousel">
  <div class="carousel-inner rounded-3 drop-shadow-xl">
    <div class="carousel-item active">
      <img src="images/pexels-barnabas-davoti-31615494-14084426.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/pexels-izafi-32721873.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/pexels-pixabay-247937.jpg" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">      
      <img src="images/pexels-valeriya-13074579.jpg" class="d-block w-100" alt="...">
    </div>
     
     <div class="carousel-item"> 
      <img src="images/pexels-zen-chung-5749781.jpg" class="d-block w-100" alt="...">
    </div>
    
  </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
  </div>
  

<div class="card mt-5">

  <h5 class="card-header">今日新發現</h5>
  <div class="card-body">
    <h5 class="card-title">寵物用品</h5>
    <p class="card-text">高品質寵物用品，安全舒適，滿足毛孩日常所需。</p>
    <a href="#" class="btn btn-primary">進入產品頁</a>
  </div>


<div class="row mx-2">
  <div class="col-sm-4 ">
    <div class="card " style="width: 18rem;">
      <img src="~/images/5e274d1461edc9ac5b0dff023621a423.webp" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 ">
    <div class="card " style="width: 18rem;">
      <img src="~/images/5e274d1461edc9ac5b0dff023621a423.webp" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 ">
    <div class="card " style="width: 18rem;">
      <img src="~/images/5e274d1461edc9ac5b0dff023621a423.webp" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row mx-2 py-2">
  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row py-2 mx-2">
  <div class="col-sm-3 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

<div class="col-sm-3  ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>






</div>
















<div class="container  px-4 mt-5">
  <video 
    class="abc" 
    controls src="/images/3191251-uhd_4096_2160_25fps.mp4">
    您的瀏覽器不支援影片播放。
  </video>
</div>




</div>







        </div>
    </div>
</div>

</div>

  
   
    
       
