@{
    ViewData["Title"] = "Shopping Page";
}

<div class="text-center">
    <h1 class="display-4">Shopping Area</h1>
    <p>Welcome to the shopping area. Here you can browse and purchase products.</p>
</div>  
